<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="templates/assets/img/favicon.png" rel="icon">
    <link href="templates/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="templates/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="templates/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="templates/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="templates/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="templates/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="templates/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="templates/assets/css/style.css" rel="stylesheet">
    <title>Dipti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div>
    <header th:replace="header::header"> </header>

    <footer th:replace="footer::footer"> </footer>

</div>

<!--<header id="header" class="fixed-top ">-->
<!--    <div class="text-center bg-dark text-white py-2">-->
<!--        <h4>Daffodil International Professional Training Institute</h4>-->
<!--    </div>-->
<!--<div>-->
<!--<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">-->
<!--    <div class="container d-flex align-items-center">-->
<!--        <h3 class="text-white"><a class="navbar-brand text-decoration-none" href="index.html">Dipti</a></h3>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" align="center">-->
<!--            <div class="navbar-nav mr-10">-->
<!--                <a class="nav-link active" aria-current="page" href="index.html">Home</a>-->
<!--                <a class="nav-link" href="/studentnew">Student's Info</a>-->
<!--                <a class="nav-link" href="/teachernew">Teacher's Info</a>-->
<!--                <a class="nav-link" href="#">Gallery</a>-->
<!--                <a class="nav-link" href="#">Notice</a>-->
<!--                <a class="nav-link" href="#">Result</a>-->
<!--                <a class="nav-link" href="#">About us</a>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--</div>-->
<!--</header>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>